services:
  postgres:
    image: postgres:14-alpine
    container_name: as-db
    restart: always
    environment:
      POSTGRES_DB: personal_crm_service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql/data
volumes:
  postgres:
    driver: local